
    
<div class= "container center-box">
  <div class="row title-div"><h1>BooKonnect</h1></div>  

  <div class="row center-div"><p>Books, the best way to make friends. <br> Friends, the best way to find books. <br> Connecting friends and books :) </p></div>
  <div class="buttons">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
    <button type="button" class="btn btn-success signup" >Sign Up</button>

    <button type="button" class="btn btn-success login" >Login</button>
  </div>
  
</div>


