



<div class="container" id="login-content">
  <div class="row" id="content_row">
    <div id="inner">
    <div class="col-md-6 col-md-offset-2 col-sm-12" id="signup_header">
      <h1 id="bookonnect">BooKonnect</h1>
      <h3 id="landingpage_text">Books, the best way to make friends. <br> Friends, the best way to find books. <br> Connecting friends and books :) </h3>
    </div>
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-4 col-sm-12" id="login_form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up",class: "btn btn-default btn-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>


