<div class="row books_owned">
      <h3 style = 'color:#fff'>My Collection</h3>
      <% @cat.each do |catal| %>
      
        <div class="col-md-3 col-lg-2 col-sm-3 col-xs-2 front" >
          <div class="ih-item square effect11 top_to_bottom" id="first"><%= link_to catalogue_path(catal) do %>
            <div class="img" id="second"><%= image_tag catal.photo %></div>
            <div class="info" id="third">
              <h3><%= catal.title %></h3>
              <p>Author: <%= catal.author %><br>Language: <%= catal.language %>
                  <br>Length: <%= catal.pages %> pages<br>Owned by:<%= Book.all.where(catalogue_id: catal.id).length %> People<br>Add to Wishlist
              </p>
              
            </div>
          <% end %>
          </div>


          <%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash"), book_path(catal.books.first), method: :delete  %>
        </div>


      <% end %>
  </div>

 