<div id="edit_user_form">
  <%= simple_form_for(@user, html: { class: '' }) do |f| %>
  <%= f.input :name, placeholder: @user.name %>
  <%= f.input :email, placeholder: @user.email %>
  <%= f.input :department, placeholder: @user.department %>
  <%= f.input :course, placeholder: @user.course %>
  <%= f.input :yearofjoining, label: 'Year of joining', placeholder: @user.yearofjoining %>
  <%= f.input :hostel, placeholder: @user.hostel %>
  <%= f.button :submit %>
<% end %>
</div>