<div class="row users_page">
  <%= will_paginate  style: 'margin-left:65px' %>
  <div class=" row section users_section">
      <%= render partial: 'users/user'  %>
  </div>
  <%= will_paginate style: 'margin-left:65px' %>
</div>
