<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@user.photo)  %>     
    </div>
    <div class="col-md-8">
      <span class="user_profile"><h4><%= @user.name %></h4><br>Department: <%= @user.department %>
      <br> Year Of Joining: <%= @user.yearofjoining %><br>Course: <%= @user.course %><br>Hostel: <%= @user.hostel %> <br> Owns   <%=@user.books_count.to_i==0 ? ("0 books") : (@user.books_count.to_i==1 ? ("1 book"):(@user.books_count.to_s + " books")) %>   </span> 
    </div>
  </div>
</div>
