<div class="container">
  <div class="row user_center_box">
    <div class="col-md-6">
      <%= image_tag(@user.photo)  %>     
    </div>
    <div class="col-md-6">
      <span class="user_profile"><h3><%= @user.name %></h3><br>Department: <%= @user.department %>
      <br> Year Of Joining: <%= @user.yearofjoining %><br>Course: <%= @user.course %><br>Hostel: <%= @user.hostel %> <br> Owns   <%=@user.books_count.to_i==0 ? ("0 books") : (@user.books_count.to_i==1 ? ("1 book"):(@user.books_count.to_s + " books")) %>   </span> 
    </div>
  </div>
    <div class="row books_owned">
      <h3 style = 'color:#fff'>Books Owned</h3>
      <% @cat.each do |cat| %>
        <div class="col-md-3 col-lg-2 col-sm-3 col-xs-2 front" >
          <div class="ih-item square effect11 top_to_bottom" id="first"><%= link_to catalogue_path(cat) do %>
            <div class="img" id="second"><%= image_tag cat.photo %></div>
            <div class="info" id="third">
              <h3><%= cat.title %></h3>
              <p>Author: <%= cat.author %><br>Language: <%= cat.language %>
                  <br>Length: <%= cat.pages %> pages<br>Owned by:<%= Book.all.where(catalogue_id: cat.id).length %> People<br>Add to Wishlist</p>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>      
  </div>
</div>