<% @books.each do |cat| %>

  
    <div class="col-md-3 col-lg-2 col-sm-3 col-xs-2 front">
 
    <!-- normal -->
    <div class="ih-item square effect11 top_to_bottom" id="first"><%= link_to catalogue_path(cat) do %>
        <div class="img" id="second"><%= image_tag cat.photo %></div>
        <div class="info" id="third">
          <h3><%= cat.title %></h3>
          <p>Author: <%= cat.author %><br>Language: <%= cat.language %>
              <br>Length: <%= cat.pages %> pages<br>Owned by:<%= cat.books.length %> People<br>Add to Wishlist</p>
        </div>
      <% end %>
    </div>
    <!-- end normal -->

  </div>  


  <% end %>