
<div class="row books_page">
  <%= will_paginate style: 'margin-left:65px' %>
  <div class=" row section books_section">
      <%= render partial: 'books/catalogue'  %>
  </div>  
  <%= will_paginate style: 'margin-left:65px' %>
</div>
    
