
<div class="container" id="search-box">
  <h1>Search for  a Book</h1>

<%= form_tag(search_books_path, {:method => :get}) do %>
  <%= text_field_tag :query, '' , class: "form-control", id: "search-input"%>

  <%= submit_tag "Search", class: "btn btn-lg btn-primary"%>
<% end %>

  <% if params[:no_results] %>
    <div id="error-msg" >
      <p style="color: white">No results found</p>
    </div>
    
  <% end %>
</div>

