<h1><%= current_user.name %></h1>

<div class="container">
  <table class="table  table-striped" id="results_table">
  <tbody>
    <tr>
      <th>Book Cover</th>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Year</th>
      <th>Add</th>
    </tr>

  <% @book_results.results.work.each do |book| %>
    <tr>
      <td><img src="<%= book.best_book.image_url %>"></td>
      <td><%= book.best_book.title %></td>
      <td><%= book.best_book.author.name %></td>
      <td><%= book.original_publication_year %></td>
      <td>
        <%= link_to "Add", books_path(goodreads_id: book.id, title: book.best_book.title), method: :post, remote: true, class: "add-btn btn btn-default btn-primary" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

