
<div class="container" id="login-content">
  <div class="row" id="content_row">
    <div id="inner">
      <div class="col-md-6 col-md-offset-2 col-sm-12 " >
        <h1 id="bookonnect">BooKonnect</h1>
        <h3 id="landingpage_text">Books, the best way to make friends. <br> Friends, the best way to find books. <br> Connecting friends and books :) </h3>
      </div>
      <div class="col-md-4 col-sm-12" id="login_form">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-default btn-primary"  %>
        </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>