<div class="container">
  <div class="row catalogue_center_box">
    <div class="col-md-6">
      <%= image_tag @catalogue.photo %>
    </div>
    <div class="col-md-6">
      <span class="catalogue_sample"><h3><%= @catalogue.title %></h3>
          <p>Author: <%= @catalogue.author %><br>Language: <%= @catalogue.language %>
              <br>Length: <%= @catalogue.pages %> pages<br>Owned by:<%= Book.all.where(catalogue_id: @catalogue.id).length %> People<br>Add to Wishlist</p>
      </span>
    </div>   
  </div>





  <div class="row owned_by">
    <h3 style = 'color:#fff'>Owned By</h3>
    <% @users.each do |c| %>
      <div class="col-md-4 col-lg-2 col-sm-3 col-xs-2 front">
        <div class="ih-item square effect11 top_to_bottom" id="first"><%= link_to user_path(c) do %>
          <div id="users_page_user_image" ><%= image_tag c.photo %></div>
          <div id="user_details"><span class="card_text"><h4><%= c.name %></h4>Department: <%= c.department %>
            <br> Year Of Joining: <%= c.yearofjoining %><br>Course: <%= c.course %><br>Hostel: <%= c.hostel %> <br> Owns <%= c.books_count.to_i==0 ? ("0 books") : (c.books_count.to_i==1 ? ("1 book"):(c.books_count.to_s + " books")) %> </span>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div> 

</div>


  