<nav class="navbar navbar-default" id="header" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="bookshare">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" id="brand"><%= link_to 'BOOKSHARE', books_path %></div>
        </div>
        <div id="logo"><%= image_tag("logo.png", :alt => "Bookonnect") %></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                   <%= link_to 'Books', books_path %>
               </li>
               <li>
                   <%= link_to 'People', users_path %>
               </li>
               <li>
                   <%= link_to 'Profile', user_path(current_user) if current_user %>
               </li>
               <li>
                   <%= link_to 'My Collection', collection_path %>
               </li>

           </ul>
           <ul class="nav navbar-nav navbar-right">
            <li>
                <%= link_to '+ Add Book', new_book_path, class: "btn btn-default btn-primary" %>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <% if current_user %>
                    <%= current_user.email %>
                    <% else %>
                    <%=  %>
                    <% end %>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><%= link_to 'Profile', edit_user_path(current_user) if current_user %>
                        </li>
                        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
