<!DOCTYPE html>
<html>
<head>
  <title>Bookonnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookonnect</title>
    <%= favicon_link_tag 'logo.png' %>
    <!-- <link rel="icon" type="image/png" href="app/assets/images/logo.png"> -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body class="<%= controller_name %>-<%= action_name %>">


  <% unless @hide_header%>


    <%= render 'layouts/nav' %>
  <% end %>
  
<%= yield %>

</body>
</html>
